.contcad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg);
    padding: 57px;
    height:100%;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, .5);
    color: var(--text-dark);
}

form{
    display: grid;
    gap: 15em;
    grid-template-columns: repeat(2,1fr);
}

 form #especifi{
    width: 300px;
 }

 form #especifi .requisitos .chane{
    color: #000;
    text-align:justify;
 }

 .requisitos p a{
    color: blue;
    text-decoration: underline;
 }

.cad {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: #000;
    }
}


.input-group {
    position: relative;
    margin: 20px 0;
    margin-top: 30px;
}

form .input-group label {
    color: #000;
    margin-top: 23px;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;
}

input[type="date"] {
    color: #000;
}

/* seleção de opções */
.sel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.sel .choice {
    color: black;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 10px 10px;
    outline: none;
    background-color: #fff;
    border-radius: 10px 10px;
}

.sel .opt1 {
    color: black;
    text-align: center;
}

/* fim */

/* Botões de gênero */
.genero {
    display: flex;
    justify-content: space-around;

}

.genero .generos {
    color: #000;
}

/* fim */

/* input de ficheiros */
input[type="file"] {
    display: none;

}


.ficheiro {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;

}

.label1 {
    padding: 10px 10px;
    width: 100px;
    font-size: 15px;
    color: #000;
    background-image: var(--bg);
    display: block;
    margin-top: 10px;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    transition: .5s;
    border-radius: 15px;
    border: 2px solid white;
    text-align: center;

}

.button-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}

#a1 {

    padding: 20px 40px;
    border-radius: 15px;
    border: none;
    transition: 1s;
    cursor: pointer;
    background-color: white;
    color: #000;

    &:hover {
        background-color: black;
        transform: scale(1.05);
        color:white;
    }
}
/* formato pra tablets e telas maiores */
@media(max-width:1018px) and (min-width:769px) {

    .contcad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--bg);
        padding: 57px;
        color: var(--text-dark);
    }
}

/* formato para telefones */
@media(min-width:480px) and (max-width:540px) {

    .contcad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--bg);
        color: var(--text-dark);
    }


    .cad {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #000;
        }
    }


    .input-group {
        position: relative;
        margin: 20px 0;
        margin-top: 30px;
    }

    form .input-group label {
        color: #000;
    }

    .input-group input {
        width: 320px;
        height: 40px;
        font-size: 16px;
        padding: 0 10px;
        background: transparent;
        border: 1.2px solid #fff;
        outline: none;
        border-radius: 5px;
    }

    input[type="date"] {
        color: #fff;
    }

    /* seleção de opções */
    .sel {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

    }

    .sel .choice {
        color: black;
        border: none;
        font-size: 16px;
        width: 100%;
        padding: 10px 10px;
        outline: none;
        background-color: #fff;
        border-radius: 10px 10px;
    }

    .sel .opt1 {
        color: black;
        text-align: center;
    }

    /* fim */

    /* Botões de gênero */
    .genero {
        display: flex;
        justify-content: space-around;

    }

    .genero .generos {
        color: #000;
    }

    /* fim */

    /* input de ficheiros */
    input[type="file"] {
        display: none;

    }


    .ficheiro {
        display: flex;
        justify-content: space-around;
        margin-top: 23px;

    }

    .label1 {
        padding: 10px 10px;
        width: 100px;
        font-size: 15px;
        color: #000;
        background-image: var(--bg);
        display: block;
        margin-top: 10px;
        font-family: 'poppins', sans-serif;
        cursor: pointer;
        transition: .5s;
        border-radius: 15px;
        border: 2px solid white;
        text-align: center;

    }




    .button-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;

    }

    #a1 {

        padding: 20px 40px;
        border-radius: 15px;
        border: none;
        transition: 1s;
        cursor: pointer;
        background-color: white;
        color: #000;

        &:hover {
            background-color: black;
            transform: scale(1.05);
        }
    }

}